.elementor-733 .elementor-element.elementor-element-39957ed {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-39957ed:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-39957ed > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F7F0EF;
}

.elementor-733 .elementor-element.elementor-element-39957ed, .elementor-733 .elementor-element.elementor-element-39957ed::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-aafc199 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --border-radius: 8px 8px 8px 8px;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: -85px;
    --padding-block-start: 65px;
    --padding-block-end: 65px;
    --padding-inline-start: 65px;
    --padding-inline-end: 65px;
    --z-index: 1;
}

.elementor-733 .elementor-element.elementor-element-aafc199:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-aafc199 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F2D8CB;
}

.elementor-733 .elementor-element.elementor-element-aafc199, .elementor-733 .elementor-element.elementor-element-aafc199::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-7211833 .elementor-heading-title {
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.elementor-733 .elementor-element.elementor-element-7211833 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-8aefc80 .elementor-heading-title {
    color: #815551;
    font-family: "Lora", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

.elementor-733 .elementor-element.elementor-element-8aefc80 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-b473bcc .elementor-button {
    font-family: "Lora", Sans-serif;
    font-weight: 500;
    background-color: #61302B;
    border-radius: 8px 8px 8px 8px;
}

.elementor-733 .elementor-element.elementor-element-911f9e0 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-87a3bb4 img {
    width: 100%;
    border-radius: 8px 8px 8px 8px;
}

.elementor-733 .elementor-element.elementor-element-5878433 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-5878433:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-5878433 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F7F0EF;
}

.elementor-733 .elementor-element.elementor-element-5878433, .elementor-733 .elementor-element.elementor-element-5878433::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-c3f44f1 {
    --spacer-size: 50px;
}

.elementor-733 .elementor-element.elementor-element-0e76ebb .elementor-heading-title {
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

.elementor-733 .elementor-element.elementor-element-0e76ebb > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-addons-advance-product {
    width: calc(100% / 4);
    padding: 0em 1em 2.5em 1em;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-addons-advance-product-list-wrap {
    margin-left: -1em;
    margin-right: -1em;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-addons-advance-product-info {
    padding: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    color: #4B58FF00;
    border-radius: 8px 8px 8px 8px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-addons-advance-product:hover .elemento-addons-advance-product-info {
    color: #B0ADAD40;
    border-radius: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-title a {
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-title a:hover {
    color: #3E3E3E;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-title {
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-category {
    color: #abb8c3;
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-price {
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-price del {
    color: #B38879;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .star-rating,.elementor-733 .elementor-element.elementor-element-838a1a8 .star-rating::before {
    color: #ffbd27;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .star-rating {
    font-size: 15px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-rating {
    text-align: -webkit-center;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-onsale {
    background-color: #FAA49E;
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    line-height: 25px;
    border-radius: 8px 8px 8px 8px;
    margin: 0px 0px 0px 0px;
    padding: 4px 12px 4px 12px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-loader {
    .border-right-color:#3E3E3E;.border-bottom-color:#3E3E3E;.border-left-color:#3E3E3E;}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elementoaddons-advance-product-tab-wrap ul.tab-list-filter li a {
    padding: 0.4em 0.8em 0.4em 0.8em;
    margin: 0em 0.5em 0em 0.5em;
    color: #111;
    background-color: #fff;
    border-radius: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elementoaddons-advance-product-tab-wrap ul.tab-list-filter li a:hover,.elementor-733 .elementor-element.elementor-element-838a1a8 .elementoaddons-advance-product-tab-wrap ul.tab-list-filter li a.active {
    color: #111;
    background-color: #fff;
    border-radius: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-add-to-cart-button {
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-add-to-cart-button a {
    font-family: "Lora", Sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 29px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-add-to-cart-button a, .elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-quantity {
    padding: 0.4em 1.3em 0.4em 1.3em;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-add-to-cart-button a,.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-quantity {
    border-radius: 8px 8px 8px 8px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FAA49E;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-add-to-cart-button a,.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-quantity input,.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-quantity button {
    color: #592C1C;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-add-to-cart-button a:hover,.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-quantity:hover input,.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-quantity:hover button {
    color: #FFFFFF;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-add-to-cart-button a:hover,.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-quantity:hover {
    background-color: #FAA49E;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .next-prev-pagination-wrap {
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .next-prev-pagination-wrap a {
    color: #b7b7b7;
    margin: 0.6em 0.2em 0.6em 0.2em;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .next-prev-pagination-wrap a:hover {
    color: #fff;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .next-prev-pagination-wrap a span {
    font-size: 14px;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-product-icon .elemento-ad-icon a,.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-product-icon .yith-wcwl-wishlistaddedbrowse a:before, .elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-product-icon .yith-wcwl-wishlistexistsbrowse a:before {
    font-size: 0.8rem;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-product-icon .elemento-ad-icon a {
    color: #111;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-product-icon .elemento-ad-icon a:hover {
    color: #111;
}

.elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-advance-product-icon .elemento-ad-icon {
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.elementor-733 .elementor-element.elementor-element-e7d9eb4 {
    --spacer-size: 50px;
}

.elementor-733 .elementor-element.elementor-element-dfb7a71 {
    --display: flex;
    --min-height: 480px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --overlay-opacity: 0.5;
}

.elementor-733 .elementor-element.elementor-element-dfb7a71:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-dfb7a71 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F2D8CB;
    background-image: url("uploads/sites/297/2024/03/bs.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-733 .elementor-element.elementor-element-dfb7a71::before, .elementor-733 .elementor-element.elementor-element-dfb7a71 > .elementor-background-video-container::before, .elementor-733 .elementor-element.elementor-element-dfb7a71 > .e-con-inner > .elementor-background-video-container::before, .elementor-733 .elementor-element.elementor-element-dfb7a71 > .elementor-background-slideshow::before, .elementor-733 .elementor-element.elementor-element-dfb7a71 > .e-con-inner > .elementor-background-slideshow::before, .elementor-733 .elementor-element.elementor-element-dfb7a71 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: #F2D8CB;
}

.elementor-733 .elementor-element.elementor-element-dfb7a71, .elementor-733 .elementor-element.elementor-element-dfb7a71::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-dc5e515 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --border-radius: 8px 8px 8px 8px;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: -85px;
    --padding-block-start: 65px;
    --padding-block-end: 65px;
    --padding-inline-start: 65px;
    --padding-inline-end: 65px;
    --z-index: 1;
}

.elementor-733 .elementor-element.elementor-element-dc5e515, .elementor-733 .elementor-element.elementor-element-dc5e515::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-de998d0 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --border-radius: 8px 8px 8px 8px;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: -85px;
    --padding-block-start: 65px;
    --padding-block-end: 65px;
    --padding-inline-start: 65px;
    --padding-inline-end: 65px;
    --z-index: 1;
}

.elementor-733 .elementor-element.elementor-element-de998d0, .elementor-733 .elementor-element.elementor-element-de998d0::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-1346617 {
    --spacer-size: 50px;
}

.elementor-733 .elementor-element.elementor-element-40910cf .elementor-heading-title {
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.elementor-733 .elementor-element.elementor-element-40910cf > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-24a7f57 .elementor-heading-title {
    color: #815551;
    font-family: "Lora", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

.elementor-733 .elementor-element.elementor-element-24a7f57 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-1840f4f .elementor-button {
    font-family: "Lora", Sans-serif;
    font-weight: 500;
    background-color: #61302B;
    border-radius: 8px 8px 8px 8px;
}

.elementor-733 .elementor-element.elementor-element-e93fe5d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-block-start: 80px;
    --padding-block-end: 20px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-733 .elementor-element.elementor-element-e93fe5d:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-e93fe5d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F7F0EF;
}

.elementor-733 .elementor-element.elementor-element-e93fe5d, .elementor-733 .elementor-element.elementor-element-e93fe5d::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-e556c57 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-addons-advance-product {
    width: calc(100% / 2);
    padding: 0em 1em 2.5em 1em;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-addons-advance-product-list-wrap {
    margin-left: -1em;
    margin-right: -1em;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-addons-advance-product-info {
    padding: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    color: #4B58FF00;
    border-radius: 8px 8px 8px 8px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-addons-advance-product:hover .elemento-addons-advance-product-info {
    color: #B0ADAD40;
    border-radius: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-title a {
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-title a:hover {
    color: #3E3E3E;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-title {
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-category {
    color: #abb8c3;
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-price {
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-price del {
    color: #B38879;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .star-rating,.elementor-733 .elementor-element.elementor-element-1974e92 .star-rating::before {
    color: #ffbd27;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .star-rating {
    font-size: 15px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-rating {
    text-align: -webkit-center;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-onsale {
    background-color: #FAA49E;
    color: #592C1C;
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    line-height: 25px;
    border-radius: 8px 8px 8px 8px;
    margin: 0px 0px 0px 0px;
    padding: 4px 12px 4px 12px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-loader {
    .border-right-color:#3E3E3E;.border-bottom-color:#3E3E3E;.border-left-color:#3E3E3E;}

.elementor-733 .elementor-element.elementor-element-1974e92 .elementoaddons-advance-product-tab-wrap ul.tab-list-filter li a {
    padding: 0.4em 0.8em 0.4em 0.8em;
    margin: 0em 0.5em 0em 0.5em;
    color: #111;
    background-color: #fff;
    border-radius: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elementoaddons-advance-product-tab-wrap ul.tab-list-filter li a:hover,.elementor-733 .elementor-element.elementor-element-1974e92 .elementoaddons-advance-product-tab-wrap ul.tab-list-filter li a.active {
    color: #111;
    background-color: #fff;
    border-radius: 0px 0px 0px 0px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-add-to-cart-button {
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-add-to-cart-button a {
    font-family: "Lora", Sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 29px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-add-to-cart-button a, .elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-quantity {
    padding: 0.4em 1.3em 0.4em 1.3em;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-add-to-cart-button a,.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-quantity {
    border-radius: 8px 8px 8px 8px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FAA49E;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-add-to-cart-button a,.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-quantity input,.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-quantity button {
    color: #592C1C;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-add-to-cart-button a:hover,.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-quantity:hover input,.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-quantity:hover button {
    color: #FFFFFF;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-add-to-cart-button a:hover,.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-quantity:hover {
    background-color: #FAA49E;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .next-prev-pagination-wrap {
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .next-prev-pagination-wrap a {
    color: #b7b7b7;
    margin: 0.6em 0.2em 0.6em 0.2em;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .next-prev-pagination-wrap a:hover {
    color: #fff;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .next-prev-pagination-wrap a span {
    font-size: 14px;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-product-icon .elemento-ad-icon a,.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-product-icon .yith-wcwl-wishlistaddedbrowse a:before, .elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-product-icon .yith-wcwl-wishlistexistsbrowse a:before {
    font-size: 0.8rem;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-product-icon .elemento-ad-icon a {
    color: #111;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-product-icon .elemento-ad-icon a:hover {
    color: #111;
}

.elementor-733 .elementor-element.elementor-element-1974e92 .elemento-advance-product-icon .elemento-ad-icon {
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.elementor-733 .elementor-element.elementor-element-bbacb06 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-edf4002 img {
    border-radius: 8px 8px 8px 8px;
}

.elementor-733 .elementor-element.elementor-element-38bb3ab {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-38bb3ab:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-38bb3ab > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F7F0EF;
}

.elementor-733 .elementor-element.elementor-element-38bb3ab, .elementor-733 .elementor-element.elementor-element-38bb3ab::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-7eaf952 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 20px;
    --padding-block-end: 20px;
    --padding-inline-start: 20px;
    --padding-inline-end: 20px;
}

.elementor-733 .elementor-element.elementor-element-c0097ff {
    --icon-box-icon-margin: 19px;
}

.elementor-733 .elementor-element.elementor-element-c0097ff.elementor-view-stacked .elementor-icon {
    background-color: #61302B;
}

.elementor-733 .elementor-element.elementor-element-c0097ff.elementor-view-framed .elementor-icon, .elementor-733 .elementor-element.elementor-element-c0097ff.elementor-view-default .elementor-icon {
    fill: #61302B;
    color: #61302B;
    border-color: #61302B;
}

.elementor-733 .elementor-element.elementor-element-c0097ff .elementor-icon-box-title {
    color: #592C1C;
}

.elementor-733 .elementor-element.elementor-element-c0097ff .elementor-icon-box-title, .elementor-733 .elementor-element.elementor-element-c0097ff .elementor-icon-box-title a {
    font-family: "Lora", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.elementor-733 .elementor-element.elementor-element-c0097ff .elementor-icon-box-description {
    color: #815551;
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-733 .elementor-element.elementor-element-cdb3283 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 20px;
    --padding-block-end: 20px;
    --padding-inline-start: 20px;
    --padding-inline-end: 20px;
}

.elementor-733 .elementor-element.elementor-element-b1b08dd {
    --icon-box-icon-margin: 19px;
}

.elementor-733 .elementor-element.elementor-element-b1b08dd.elementor-view-stacked .elementor-icon {
    background-color: #61302B;
}

.elementor-733 .elementor-element.elementor-element-b1b08dd.elementor-view-framed .elementor-icon, .elementor-733 .elementor-element.elementor-element-b1b08dd.elementor-view-default .elementor-icon {
    fill: #61302B;
    color: #61302B;
    border-color: #61302B;
}

.elementor-733 .elementor-element.elementor-element-b1b08dd .elementor-icon-box-title {
    color: #592C1C;
}

.elementor-733 .elementor-element.elementor-element-b1b08dd .elementor-icon-box-title, .elementor-733 .elementor-element.elementor-element-b1b08dd .elementor-icon-box-title a {
    font-family: "Lora", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.elementor-733 .elementor-element.elementor-element-b1b08dd .elementor-icon-box-description {
    color: #815551;
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-733 .elementor-element.elementor-element-986b54e {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 20px;
    --padding-block-end: 20px;
    --padding-inline-start: 20px;
    --padding-inline-end: 20px;
}

.elementor-733 .elementor-element.elementor-element-0d0c7f7 {
    --icon-box-icon-margin: 19px;
}

.elementor-733 .elementor-element.elementor-element-0d0c7f7.elementor-view-stacked .elementor-icon {
    background-color: #61302B;
}

.elementor-733 .elementor-element.elementor-element-0d0c7f7.elementor-view-framed .elementor-icon, .elementor-733 .elementor-element.elementor-element-0d0c7f7.elementor-view-default .elementor-icon {
    fill: #61302B;
    color: #61302B;
    border-color: #61302B;
}

.elementor-733 .elementor-element.elementor-element-0d0c7f7 .elementor-icon-box-title {
    color: #592C1C;
}

.elementor-733 .elementor-element.elementor-element-0d0c7f7 .elementor-icon-box-title, .elementor-733 .elementor-element.elementor-element-0d0c7f7 .elementor-icon-box-title a {
    font-family: "Lora", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.elementor-733 .elementor-element.elementor-element-0d0c7f7 .elementor-icon-box-description {
    color: #815551;
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-733 .elementor-element.elementor-element-8f488b1 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 20px;
    --padding-block-end: 20px;
    --padding-inline-start: 20px;
    --padding-inline-end: 20px;
}

.elementor-733 .elementor-element.elementor-element-17f9254 {
    --icon-box-icon-margin: 19px;
}

.elementor-733 .elementor-element.elementor-element-17f9254.elementor-view-stacked .elementor-icon {
    background-color: #61302B;
}

.elementor-733 .elementor-element.elementor-element-17f9254.elementor-view-framed .elementor-icon, .elementor-733 .elementor-element.elementor-element-17f9254.elementor-view-default .elementor-icon {
    fill: #61302B;
    color: #61302B;
    border-color: #61302B;
}

.elementor-733 .elementor-element.elementor-element-17f9254 .elementor-icon-box-title {
    color: #592C1C;
}

.elementor-733 .elementor-element.elementor-element-17f9254 .elementor-icon-box-title, .elementor-733 .elementor-element.elementor-element-17f9254 .elementor-icon-box-title a {
    font-family: "Lora", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

.elementor-733 .elementor-element.elementor-element-17f9254 .elementor-icon-box-description {
    color: #815551;
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-733 .elementor-element.elementor-element-35ea11f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 50px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-733 .elementor-element.elementor-element-35ea11f:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-35ea11f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F7F0EF;
}

.elementor-733 .elementor-element.elementor-element-35ea11f, .elementor-733 .elementor-element.elementor-element-35ea11f::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-64fd0f5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-64fd0f5, .elementor-733 .elementor-element.elementor-element-64fd0f5::before {
    --border-transition: 0.3s;
}

.elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-grid {
    grid-template-columns: repeat(3, minmax(min(100px, 100%), calc(100% / 3)));
    grid-gap: 5px;
}

.elementor-733 .elementor-element.elementor-element-aad023b .elemnto-addons-product-grid-nav .elemnto-addons-product-grid-title {
    color: #7B7B7B;
}

.elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-wrapper .elemento-category-content {
    background-color: #6EC1E400;
    border-radius: 8px;
    flex-direction: column;
    grid-gap: 20px;
}

.elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-wrapper .elemento-category-content .elemento-category-image a {
    width: 360px;
    height: 435px;
}

.elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-wrapper .elemento-category-content .elemento-category-image img {
    border-radius: 8px;
}

.elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-wrapper .elemento-category-content .elemento-category-title {
    font-family: "Lora", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #592C1C;
    text-align: center;
}

.elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-wrapper .elemento-category-content .elemento-category-title:hover {
    color: #3E3E3E;
}

.elementor-733 .elementor-element.elementor-element-470e431 {
    --display: flex;
    --background-transition: 0.3s;
}

@media(max-width: 1024px) {
    .elementor-733 .elementor-element.elementor-element-aafc199 {
        --margin-block-start:0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: -50px;
        --padding-block-start: 40px;
        --padding-block-end: 40px;
        --padding-inline-start: 40px;
        --padding-inline-end: 40px;
    }

    .elementor-733 .elementor-element.elementor-element-7211833 .elementor-heading-title {
        font-size: 32px;
        line-height: 42px;
    }

    .elementor-733 .elementor-element.elementor-element-8aefc80 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-733 .elementor-element.elementor-element-0e76ebb .elementor-heading-title {
        font-size: 30px;
        line-height: 40px;
    }

    .elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-addons-advance-product {
        width: calc(100% / 4);
        padding: 05px 5px 5px 5px;
    }

    .elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-addons-advance-product-list-wrap {
        margin-left: -5px;
        margin-right: -5px;
    }

    .elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-product-title a {
        font-size: 17px;
    }

    .elementor-733 .elementor-element.elementor-element-dfb7a71 {
        --min-height: 370px;
    }

    .elementor-733 .elementor-element.elementor-element-dfb7a71:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-dfb7a71 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: center center;
    }

    .elementor-733 .elementor-element.elementor-element-de998d0 {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 40px;
        --padding-block-end: 40px;
        --padding-inline-start: 40px;
        --padding-inline-end: 40px;
    }

    .elementor-733 .elementor-element.elementor-element-40910cf .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-733 .elementor-element.elementor-element-1974e92 .elemento-addons-advance-product {
        width: calc(100% / 2);
        padding: 5px 5px 5px 5px;
    }

    .elementor-733 .elementor-element.elementor-element-1974e92 .elemento-addons-advance-product-list-wrap {
        margin-left: -5px;
        margin-right: -5px;
    }

    .elementor-733 .elementor-element.elementor-element-1974e92 .elemento-product-title a {
        font-size: 17px;
    }

    .elementor-733 .elementor-element.elementor-element-7eaf952 {
        --padding-block-start: 10px;
        --padding-block-end: 10px;
        --padding-inline-start: 10px;
        --padding-inline-end: 10px;
    }

    .elementor-733 .elementor-element.elementor-element-c0097ff {
        --icon-box-icon-margin: 19px;
    }

    .elementor-733 .elementor-element.elementor-element-c0097ff .elementor-icon {
        font-size: 35px;
    }

    .elementor-733 .elementor-element.elementor-element-cdb3283 {
        --padding-block-start: 10px;
        --padding-block-end: 10px;
        --padding-inline-start: 10px;
        --padding-inline-end: 10px;
    }

    .elementor-733 .elementor-element.elementor-element-b1b08dd .elementor-icon {
        font-size: 35px;
    }

    .elementor-733 .elementor-element.elementor-element-986b54e {
        --padding-block-start: 10px;
        --padding-block-end: 10px;
        --padding-inline-start: 10px;
        --padding-inline-end: 10px;
    }

    .elementor-733 .elementor-element.elementor-element-0d0c7f7 .elementor-icon {
        font-size: 35px;
    }

    .elementor-733 .elementor-element.elementor-element-8f488b1 {
        --padding-block-start: 10px;
        --padding-block-end: 10px;
        --padding-inline-start: 10px;
        --padding-inline-end: 10px;
    }

    .elementor-733 .elementor-element.elementor-element-17f9254 .elementor-icon {
        font-size: 35px;
    }

    .elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-wrapper .elemento-category-content .elemento-category-image a {
        width: 222px;
        height: 300px;
    }
}

@media(max-width: 767px) {
    .elementor-733 .elementor-element.elementor-element-aafc199 {
        --margin-block-start:0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }

    .elementor-733 .elementor-element.elementor-element-aafc199.e-con {
        --order: 99999 /* order end hack */;
    }

    .elementor-733 .elementor-element.elementor-element-911f9e0 {
        --padding-block-start: 0px;
        --padding-block-end: 10px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }

    .elementor-733 .elementor-element.elementor-element-c3f44f1 {
        --spacer-size: 30px;
    }

    .elementor-733 .elementor-element.elementor-element-0e76ebb {
        text-align: center;
    }

    .elementor-733 .elementor-element.elementor-element-838a1a8 .elemento-addons-advance-product {
        width: calc(100% / 2);
    }

    .elementor-733 .elementor-element.elementor-element-dfb7a71:not(.elementor-motion-effects-element-type-background), .elementor-733 .elementor-element.elementor-element-dfb7a71 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: top center;
    }

    .elementor-733 .elementor-element.elementor-element-dc5e515 {
        --width: 100%;
        --min-height: 0px;
    }

    .elementor-733 .elementor-element.elementor-element-de998d0 {
        --padding-block-start: 30px;
        --padding-block-end: 30px;
        --padding-inline-start: 30px;
        --padding-inline-end: 30px;
    }

    .elementor-733 .elementor-element.elementor-element-1346617 {
        --spacer-size: 30px;
    }

    .elementor-733 .elementor-element.elementor-element-40910cf .elementor-heading-title {
        font-size: 22px;
        line-height: 35px;
    }

    .elementor-733 .elementor-element.elementor-element-e93fe5d {
        --padding-block-start: 30px;
        --padding-block-end: 20px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }

    .elementor-733 .elementor-element.elementor-element-1974e92 .elemento-addons-advance-product {
        width: calc(100% / 2);
    }

    .elementor-733 .elementor-element.elementor-element-35ea11f {
        --padding-block-start: 20px;
        --padding-block-end: 50px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }

    .elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-grid {
        grid-template-columns: repeat(1, minmax(min(100px, 100%), calc(100% / 1)));
        grid-gap: 18px;
    }

    .elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-wrapper .elemento-category-content .elemento-category-image a {
        width: 260px;
        height: 320px;
    }

    .elementor-733 .elementor-element.elementor-element-aad023b .elemento-category-layout-wrapper .elemento-category-content {
        grid-gap: 13px;
    }
}

@media(min-width: 768px) {
    .elementor-733 .elementor-element.elementor-element-39957ed {
        --content-width:1250px;
    }

    .elementor-733 .elementor-element.elementor-element-aafc199 {
        --width: 40%;
    }

    .elementor-733 .elementor-element.elementor-element-911f9e0 {
        --width: 60%;
    }

    .elementor-733 .elementor-element.elementor-element-5878433 {
        --content-width: 1200px;
    }

    .elementor-733 .elementor-element.elementor-element-dfb7a71 {
        --content-width: 1250px;
    }

    .elementor-733 .elementor-element.elementor-element-dc5e515 {
        --width: 40%;
    }

    .elementor-733 .elementor-element.elementor-element-de998d0 {
        --content-width: 100%;
    }

    .elementor-733 .elementor-element.elementor-element-e93fe5d {
        --content-width: 1250px;
    }

    .elementor-733 .elementor-element.elementor-element-38bb3ab {
        --content-width: 1250px;
    }

    .elementor-733 .elementor-element.elementor-element-35ea11f {
        --content-width: 1250px;
    }

    .elementor-733 .elementor-element.elementor-element-64fd0f5 {
        --width: 100%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-733 .elementor-element.elementor-element-dc5e515 {
        --width:0%;
    }

    .elementor-733 .elementor-element.elementor-element-de998d0 {
        --content-width: 100%;
    }
}
